<!-- Filtering Options -->
<section id="filtering">

    <div class="container-fluid">


        <div class="row">

            {{!-- Pricing --}}
            <div class="col-sm">
                <div class="dropdown price">
                    <button class="btn btn-outline-dark dropdown-toggle bord-wid" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"> Price </button>

                    <form class="dropdown-menu">
                        <div class="form-check ml-3 my-1">
                            <input type="radio" class="form-check-input" id="under50" name="materialExampleRadios">
                            <label class="form-check-label card-link-secondary"> Under $50K</label>
                        </div>

                        <div class="form-check ml-3 my-1">
                            <input type="radio" class="form-check-input" id="under75" name="materialExampleRadios">
                            <label class="form-check-label card-link-secondary"> Under $75K</label>
                        </div>

                        <div class="form-check ml-3 my-1">
                            <input type="radio" class="form-check-input" id="under100" name="materialExampleRadios">
                            <label class="form-check-label card-link-secondary"> Under $100K</label>
                        </div>

                        <div class="form-check ml-3 my-1">
                            <input type="radio" class="form-check-input" id="under150" name="materialExampleRadios">
                            <label class="form-check-label card-link-secondary"> Under $150K</label>
                        </div>

                        <div class="form-group mx-2 mt-2 mb-0">
                            <label class="mb-0" for="formControlRange">Price</label>
                            <input type="range" class="form-control-range" max="200" id="formControlRangePrice"
                                onInput="$('#rangeval').html($(this).val()+'K')">
                            <span id="rangeval">100K</span>
                        </div>
                    </form>
                </div>
            </div>


            {{!-- Year --}}
            <div class="col-sm">
                <div class="dropdown yearby">
                    <button class="btn btn-outline-dark dropdown-toggle bord-wid" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"> Year </button>

                    <div class="dropdown-menu">
                        <div class="custom-control custom-checkbox ml-3 my-1">
                            <input type="checkbox" class="custom-control-input" id="year2021">
                            <label class="custom-control-label" for="year2021">2021</label>
                        </div>

                        <div class="custom-control custom-checkbox ml-3 my-1">
                            <input type="checkbox" class="custom-control-input" id="year2020">
                            <label class="custom-control-label" for="year2020">2020</label>
                        </div>

                        <div class="custom-control custom-checkbox ml-3 my-1">
                            <input type="checkbox" class="custom-control-input" id="year2019">
                            <label class="custom-control-label" for="year2019">2019</label>
                        </div>

                        <div class="form-group mx-2 mt-2 mb-0">
                            <label class="mb-1" for="formControlRange">Year</label>
                            <input type="range" class="form-control-range" min="2015" max="2021"
                                id="formControlRangeYear" onInput="$('#rangevalyear').html($(this).val())">
                            <span id="rangevalyear">2018</span>
                        </div>
                    </div>
                </div>
            </div>


            {{!-- Range --}}
            <div class="col-sm">
                <div class="dropdown Range">
                    <button class="btn btn-outline-dark dropdown-toggle bord-wid" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"> Range </button>
                    <div class="dropdown-menu">
                        <div class="form-group mx-2 my-2">
                            <label for="formControlRange"> Range </label>
                            <input type="range" class="form-control-range" min="200" max="500" id="formControlRange"
                                onInput="$('#rangevalrange').html($(this).val()+'Km')">
                            <span id="rangevalrange">350 Km</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sorting -->
            <div class="col-sm">
                <div class="dropdown sortby">
                    <button class="btn btn-outline-dark dropdown-toggle bord-wid" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"> Sort By </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=latest">Latest Year</a>
                        </li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=highprice">Highest Price</a></li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=lowprice">Lowest Price</a></li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=highrange">Highest Range</a></li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=lowrange">Lowest Range</a></li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=highperf">Highest Performance</a>
                        </li>
                        <li><a class="dropdown-item" href="/electric/filter/?sortBy=lowperf">Lowest Performance</a></li>
                    </ul>
                </div>
            </div>






        </div>


    </div>

</section>


<!-- Car Models -->
<section id="carmodels">

    <div class="container-fluid">

        <div class="row">

            {{#each models}}

            <div class="col-lg-5 car-item">

                <div class="modeltitle">
                    <h4>{{this.year}} {{this.title}}</h4>
                </div>

                <img src="/{{this.imagePath}}" alt="Tesla Model ">

                <div class="model-info">

                    <div class="info-first">
                        <div class="info-first-cards">
                            <p class="first-specs">Top Speed</p>
                            <svg style="width:24px;height:24px">
                                <path fill="currentColor"
                                    d="M12,16A3,3 0 0,1 9,13C9,11.88 9.61,10.9 10.5,10.39L20.21,4.77L14.68,14.35C14.18,15.33 13.17,16 12,16M12,3C13.81,3 15.5,3.5 16.97,4.32L14.87,5.53C14,5.19 13,5 12,5A8,8 0 0,0 4,13C4,15.21 4.89,17.21 6.34,18.65H6.35C6.74,19.04 6.74,19.67 6.35,20.06C5.96,20.45 5.32,20.45 4.93,20.07V20.07C3.12,18.26 2,15.76 2,13A10,10 0 0,1 12,3M22,13C22,15.76 20.88,18.26 19.07,20.07V20.07C18.68,20.45 18.05,20.45 17.66,20.06C17.27,19.67 17.27,19.04 17.66,18.65V18.65C19.11,17.2 20,15.21 20,13C20,12 19.81,11 19.46,10.1L20.67,8C21.5,9.5 22,11.18 22,13Z" />
                            </svg><b>{{this.topspeed}}</b>mph
                        </div>
                        <div class="info-first-cards">
                            <p class="first-specs">0-60mph</p>
                            <svg style="width:24px;height:24px">
                                <path fill="currentColor"
                                    d="M19.03 7.39L20.45 5.97C20 5.46 19.55 5 19.04 4.56L17.62 6C16.07 4.74 14.12 4 12 4C7.03 4 3 8.03 3 13S7.03 22 12 22C17 22 21 17.97 21 13C21 10.88 20.26 8.93 19.03 7.39M13 14H11V7H13V14M15 1H9V3H15V1Z" />
                            </svg><b>{{this.time60}}</b>s
                        </div>
                        <div class="info-first-cards">
                            <p class="first-specs">Range</p>
                            <svg style="width:24px;height:24px">
                                <path fill="currentColor"
                                    d="M18,10A1,1 0 0,1 17,9A1,1 0 0,1 18,8A1,1 0 0,1 19,9A1,1 0 0,1 18,10M12,10H6V5H12M19.77,7.23L19.78,7.22L16.06,3.5L15,4.56L17.11,6.67C16.17,7 15.5,7.93 15.5,9A2.5,2.5 0 0,0 18,11.5C18.36,11.5 18.69,11.42 19,11.29V18.5A1,1 0 0,1 18,19.5A1,1 0 0,1 17,18.5V14C17,12.89 16.1,12 15,12H14V5C14,3.89 13.1,3 12,3H6C4.89,3 4,3.89 4,5V21H14V13.5H15.5V18.5A2.5,2.5 0 0,0 18,21A2.5,2.5 0 0,0 20.5,18.5V9C20.5,8.31 20.22,7.68 19.77,7.23Z" />
                            </svg><b>{{this.range}}</b>km
                        </div>


                    </div>
                </div>


                <div class="info-second">

                    <div class="row info-second-row">
                        <div class="col-sm info-second-col">
                            <svg style=" width:26px;height:26px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M10,4H12V6H10V4M7,3H9V5H7V3M7,6H9V8H7V6M6,8V10H4V8H6M6,5V7H4V5H6M6,2V4H4V2H6M13,22A2,2 0 0,1 11,20V10A2,2 0 0,1 13,8V7H14V4H17V7H18V8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H13M13,10V20H18V10H13Z" />
                            </svg> {{this.colour}}
                        </div>
                        <div class="col-sm info-second-col">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M7 18C7 18 4 10 4 6S6 2 6 2H7C7 2 8 2 8 3S7 4 7 6 10 10 10 13 7 18 7 18M12 17C11 17 8 19.5 8 19.5C7.7 19.7 7.8 20 8 20.3C8 20.3 9 22.1 11 22.1H17C18.1 22.1 19 21.2 19 20.1V19.1C19 18 18.1 17.1 17 17.1H12Z" />
                            </svg> {{this.interior}}
                        </div>
                    </div>

                    <div class="row info-second-row">
                        <div class="col-sm info-second-col">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M13,19.92C14.8,19.7 16.35,18.95 17.65,17.65C18.95,16.35 19.7,14.8 19.92,13H16.92C16.7,14 16.24,14.84 15.54,15.54C14.84,16.24 14,16.7 13,16.92V19.92M10,8H14L17,11H19.92C19.67,9.05 18.79,7.38 17.27,6C15.76,4.66 14,4 12,4C10,4 8.24,4.66 6.73,6C5.21,7.38 4.33,9.05 4.08,11H7L10,8M11,19.92V16.92C10,16.7 9.16,16.24 8.46,15.54C7.76,14.84 7.3,14 7.08,13H4.08C4.3,14.77 5.05,16.3 6.35,17.6C7.65,18.9 9.2,19.67 11,19.92M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12C22,14.75 21,17.1 19.05,19.05C17.1,21 14.75,22 12,22C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z" />
                            </svg> Autopilot
                        </div>
                        <div class="col-sm info-second-col">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M3,21H6V18H3M8,21H11V14H8M13,21H16V9H13M18,21H21V3H18V21Z" />
                            </svg> Premium Connectivity
                        </div>
                    </div>


                    <div class="row info-second-row">
                        <div class="col-sm info-second-col">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                                viewBox="0 0 226 226" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,226v-226h226v226z" fill="none"></path>
                                    <g fill="#5c5e62">
                                        <path
                                            d="M113,1.62981c-61.49129,0 -111.37019,49.8789 -111.37019,111.37019c0,61.49129 49.8789,111.37019 111.37019,111.37019c61.49129,0 111.37019,-49.8789 111.37019,-111.37019c0,-61.49129 -49.8789,-111.37019 -111.37019,-111.37019zM113,25.53365c48.21514,0 87.46635,39.2512 87.46635,87.46635c0,48.21514 -39.2512,87.46635 -87.46635,87.46635c-48.21514,0 -87.46635,-39.2512 -87.46635,-87.46635c0,-48.21514 39.2512,-87.46635 87.46635,-87.46635zM113,35.58413c-42.78245,0 -77.41587,34.63341 -77.41587,77.41587c0,42.78245 34.63341,77.41587 77.41587,77.41587c42.78245,0 77.41587,-34.63341 77.41587,-77.41587c0,-42.78245 -34.63341,-77.41587 -77.41587,-77.41587zM105.39423,52.15385c0,0.06791 0,0.20373 0,0.27163l-1.90144,33.68269c-3.39543,1.1884 -6.55318,2.88612 -9.23558,5.16106l-30.15144,-14.9399c9.74489,-13.00451 24.34525,-22.07031 41.28846,-24.17548zM120.8774,52.15385c16.60366,2.13912 31.03426,10.96725 40.74519,23.63221l-30.15144,15.21154c-2.54658,-2.13912 -5.5006,-3.73497 -8.69231,-4.88942l-1.90144,-33.68269c0,-0.0679 0,-0.20372 0,-0.27163zM169.22837,89.09615c0.03395,-0.03395 0.23768,0.03395 0.27163,0c3.1238,7.33413 4.88942,15.44922 4.88942,23.90385c0,8.45463 -1.76562,16.56971 -4.88942,23.90385c-0.03395,-0.03395 -0.23768,0.03395 -0.27163,0l-27.97837,-18.47115c0.30559,-1.73167 0.54327,-3.59915 0.54327,-5.43269c0,-1.83353 -0.20372,-3.70102 -0.54327,-5.43269zM56.22837,89.63942c0.03395,0.03395 0.23768,-0.03395 0.27163,0l28.25,18.19952c-0.27163,1.62981 -0.54327,3.42938 -0.54327,5.16106c0,1.73167 0.23768,3.53125 0.54327,5.16106l-28.25,18.19952c-0.03395,0.03395 -0.23768,-0.03395 -0.27163,0c-2.95403,-7.19832 -4.61779,-15.10967 -4.61779,-23.36058c0,-8.2509 1.66376,-16.16226 4.61779,-23.36058zM113,99.41827c7.53786,0 13.58173,6.04387 13.58173,13.58173c0,7.53786 -6.04387,13.58173 -13.58173,13.58173c-7.53786,0 -13.58173,-6.04387 -13.58173,-13.58173c0,-7.53786 6.04387,-13.58173 13.58173,-13.58173zM94.25721,134.73077c2.68239,2.30889 5.84014,3.97265 9.23558,5.16106l1.90144,33.68269c0,0.06791 0,0.20373 0,0.27163c-16.94321,-2.10516 -31.54357,-11.17097 -41.28846,-24.17548zM131.47115,135.0024l30.15144,15.21154c-9.71093,12.66496 -24.14153,21.49309 -40.74519,23.63221c0,-0.0679 0,-0.20372 0,-0.27163l1.90144,-33.68269c3.19171,-1.15444 6.14573,-2.7503 8.69231,-4.88942z">
                                        </path>
                                    </g>
                                </g>
                            </svg> {{this.wheel}}
                        </div>
                    </div>

                </div>


                <div class="info-third">
                    <div class="container">
                        <p> {{this.description}}</p>
                    </div>

                </div>


                <div class="model-buy">

                    <div class="row">
                        <div class="col-sm buyprice">
                            <h4>${{this.priceStr}}</h4>
                        </div>
                        <div class="col-sm text-center buybutton">
                            <a style="color: white;" href="booknow/{{this._id}}">
                                <button id="b1" type="button" class="btn btn-outline-light"> Book Now
                                </button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            {{/each}}

        </div>


    </div>


</section>