<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/servicingstyles.css' />
</head>

<body>

    <div class="row">


        {{#each servicecars}}


        <div class="col0">

            <div class="row">

                <div class="col1">
                    <img src="{{this.customerImage}}" alt="model pic">
                </div>

                <div class="col1">

                    <div style="margin-top: 15px;" class="input-group mb-3">


                        <div class="input-group-prepend">
                            <span class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                                </svg></span>
                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerName}}</span>
                        </div>

                        <div style="margin-left: 100px;" class="input-group-prepend">
                            <span style="border-bottom-left-radius: 10px;border-top-left-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1"><img
                                    style="width: 24px;heigth: 24px; margin:0px"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABPklEQVRIie3UPUpDQRQF4C/xj/gXBbUJYqOIpYKgLkBwA1pZ2LgGsXAFrsFVWPgHFlZiJwEJWEkqQYtoYTAaizcm4cFLXiBlDjwY7j333Dl35g199NFHpk1uBYfYxCwmMRFyH6jgFfc4w2M3DbZxjjc84AWfQTiLMeSxgHVMYwfXqWzhBrcYTsEdwR0u0orP4we7aQuwjxoKacjH+NKcdxrkUcVRGvITLrsQ/8cNSmLnOtCyPhXNcRbfmBEdXi4UDYV4FlMht4QN7GELyzgRub+K76CMeo++8r9o/Jo+h+550e3oBlXRv1HBYhLpF+OisRygmGK3xcDNYTRoJKKOVU1nhVCQJP6LucDNYC3E2zaoB7vvorvdyUEtcKstsQbiZ9C2exdo6GZ7JJiIwQ75dq9tKxKdxx2UEtadkFj3B79mZQBNmfFCAAAAAElFTkSuQmCC" /></span>
                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerModel}}</span>
                        </div>

                    </div>



                    <div style="margin-top: 15px;" class="input-group mb-3">


                        <div class="input-group-prepend">
                            <span class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M21.71 20.29L20.29 21.71A1 1 0 0 1 18.88 21.71L7 9.85A3.81 3.81 0 0 1 6 10A4 4 0 0 1 2.22 4.7L4.76 7.24L5.29 6.71L6.71 5.29L7.24 4.76L4.7 2.22A4 4 0 0 1 10 6A3.81 3.81 0 0 1 9.85 7L21.71 18.88A1 1 0 0 1 21.71 20.29M2.29 18.88A1 1 0 0 0 2.29 20.29L3.71 21.71A1 1 0 0 0 5.12 21.71L10.59 16.25L7.76 13.42M20 2L16 4V6L13.83 8.17L15.83 10.17L18 8H20L22 4Z" />
                                </svg></span>
                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerType}}</span>
                        </div>


                        <div style="margin-left: 140px;" class="input-group-prepend">
                            <span style="border-bottom-left-radius: 10px;border-top-left-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M10,17L6,13L7.41,11.59L10,14.17L16.59,7.58L18,9M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M19,3H14.82C14.4,1.84 13.3,1 12,1C10.7,1 9.6,1.84 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3Z" />
                                </svg></span>

                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerDone}}</span>
                        </div>


                        <div style="margin-left: 100px;" class="input-group-prepend">
                            <span style="border-bottom-left-radius: 10px;border-top-left-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M20 4H4C2.89 4 2 4.89 2 6V18C2 19.11 2.9 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.1 4 20 4M15 10H11V11H14C14.55 11 15 11.45 15 12V15C15 15.55 14.55 16 14 16H13V17H11V16H9V14H13V13H10C9.45 13 9 12.55 9 12V9C9 8.45 9.45 8 10 8H11V7H13V8H15V10Z" />
                                </svg></span>

                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerBill}}</span>
                        </div>

                    </div>

                    <div style="margin-top: 15px;" class="input-group mb-3">


                        <div class="input-group-prepend">
                            <span class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M17.25,18H6.75V4H17.25M14,21H10V20H14M16,1H8A3,3 0 0,0 5,4V20A3,3 0 0,0 8,23H16A3,3 0 0,0 19,20V4A3,3 0 0,0 16,1Z" />
                                </svg></span>
                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerPhone}}</span>
                        </div>

                        <div style="margin-left: 100px;" class="input-group-prepend">
                            <span style="border-bottom-left-radius: 10px;border-top-left-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1"><svg style="width:24px;height:24px"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                                </svg></span>
                            <span style="border-bottom-right-radius: 10px;border-top-right-radius: 10px;"
                                class="input-group-text dt1" id="basic-addon1">{{this.customerEmail}}</span>
                        </div>

                    </div>



                    <div class="emailbutton">
                        <button id="button2" type="submit" class="btn btn-outline-dark">Message Customer</button>
                        <a href="/home/service/email"><button id="button1" type="submit"
                                class="btn btn-outline-dark">Email Customer</button></a>
                    </div>


                </div>

            </div>

        </div>

        {{/each}}


    </div>


</body>

</html>