<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/booking.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

</head>

<body>

    <div class="row">

        <div style="height: 600px;" class="col1">

            <div class="heading">
                <h2>{{model.t1}}</h2>
                <h3>{{model.t2}}</h3>
            </div>


            <div style="max-height: 600px;" class="pics">

                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="2000">
                            <img style="width: 500px;height:340px;" src="/{{model.imagePath}}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item" data-interval="2000">
                            <img style="width: 500px;height:340px ;" src="/images/1int.jpg" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev sidebutton" href="#carouselExampleInterval" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next sidebutton" href="#carouselExampleInterval" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div style="margin-top: 50px;" class="col1">
                    <p style="margin-top:0px;width:500px"><span class="specs">Key Features</span></p>
                    <ul>
                        <li style="margin:20px;">
                            <p><span class="spec7"><svg style=" width:24px;height:22px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M10,4H12V6H10V4M7,3H9V5H7V3M7,6H9V8H7V6M6,8V10H4V8H6M6,5V7H4V5H6M6,2V4H4V2H6M13,22A2,2 0 0,1 11,20V10A2,2 0 0,1 13,8V7H14V4H17V7H18V8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H13M13,10V20H18V10H13Z" />
                                    </svg> {{model.colour}}</span></p>

                        </li>
                        <li style="margin:20px;">
                            <p><span class="spec7"></svg> {{this.colour}}<svg style="width:24px;height:24px"
                                        viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7 18C7 18 4 10 4 6S6 2 6 2H7C7 2 8 2 8 3S7 4 7 6 10 10 10 13 7 18 7 18M12 17C11 17 8 19.5 8 19.5C7.7 19.7 7.8 20 8 20.3C8 20.3 9 22.1 11 22.1H17C18.1 22.1 19 21.2 19 20.1V19.1C19 18 18.1 17.1 17 17.1H12Z" />
                                    </svg> {{model.interior}}</span></p>
                        </li>
                        <li style="margin:20px;">
                            <p><span class="spec7"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M13,19.92C14.8,19.7 16.35,18.95 17.65,17.65C18.95,16.35 19.7,14.8 19.92,13H16.92C16.7,14 16.24,14.84 15.54,15.54C14.84,16.24 14,16.7 13,16.92V19.92M10,8H14L17,11H19.92C19.67,9.05 18.79,7.38 17.27,6C15.76,4.66 14,4 12,4C10,4 8.24,4.66 6.73,6C5.21,7.38 4.33,9.05 4.08,11H7L10,8M11,19.92V16.92C10,16.7 9.16,16.24 8.46,15.54C7.76,14.84 7.3,14 7.08,13H4.08C4.3,14.77 5.05,16.3 6.35,17.6C7.65,18.9 9.2,19.67 11,19.92M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12C22,14.75 21,17.1 19.05,19.05C17.1,21 14.75,22 12,22C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z" />
                                    </svg> Autopilot</span></p>
                        </li>
                        <li style="margin:20px;">
                            <p><span class="spec7"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M3,21H6V18H3M8,21H11V14H8M13,21H16V9H13M18,21H21V3H18V21Z" />
                                    </svg> Premium Connectivity</span></p>

                        </li>
                        <li style="margin:20px;">
                            <p><span class="spec7"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24"
                                        height="24" viewBox="0 0 226 226" style=" fill:#000000;">
                                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                            stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                            stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                            font-weight="none" font-size="none" text-anchor="none"
                                            style="mix-blend-mode: normal">
                                            <path d="M0,226v-226h226v226z" fill="none"></path>
                                            <g fill="#626468">
                                                <path
                                                    d="M113,1.62981c-61.49129,0 -111.37019,49.8789 -111.37019,111.37019c0,61.49129 49.8789,111.37019 111.37019,111.37019c61.49129,0 111.37019,-49.8789 111.37019,-111.37019c0,-61.49129 -49.8789,-111.37019 -111.37019,-111.37019zM113,25.53365c48.21514,0 87.46635,39.2512 87.46635,87.46635c0,48.21514 -39.2512,87.46635 -87.46635,87.46635c-48.21514,0 -87.46635,-39.2512 -87.46635,-87.46635c0,-48.21514 39.2512,-87.46635 87.46635,-87.46635zM113,35.58413c-42.78245,0 -77.41587,34.63341 -77.41587,77.41587c0,42.78245 34.63341,77.41587 77.41587,77.41587c42.78245,0 77.41587,-34.63341 77.41587,-77.41587c0,-42.78245 -34.63341,-77.41587 -77.41587,-77.41587zM105.39423,52.15385c0,0.06791 0,0.20373 0,0.27163l-1.90144,33.68269c-3.39543,1.1884 -6.55318,2.88612 -9.23558,5.16106l-30.15144,-14.9399c9.74489,-13.00451 24.34525,-22.07031 41.28846,-24.17548zM120.8774,52.15385c16.60366,2.13912 31.03426,10.96725 40.74519,23.63221l-30.15144,15.21154c-2.54658,-2.13912 -5.5006,-3.73497 -8.69231,-4.88942l-1.90144,-33.68269c0,-0.0679 0,-0.20372 0,-0.27163zM169.22837,89.09615c0.03395,-0.03395 0.23768,0.03395 0.27163,0c3.1238,7.33413 4.88942,15.44922 4.88942,23.90385c0,8.45463 -1.76562,16.56971 -4.88942,23.90385c-0.03395,-0.03395 -0.23768,0.03395 -0.27163,0l-27.97837,-18.47115c0.30559,-1.73167 0.54327,-3.59915 0.54327,-5.43269c0,-1.83353 -0.20372,-3.70102 -0.54327,-5.43269zM56.22837,89.63942c0.03395,0.03395 0.23768,-0.03395 0.27163,0l28.25,18.19952c-0.27163,1.62981 -0.54327,3.42938 -0.54327,5.16106c0,1.73167 0.23768,3.53125 0.54327,5.16106l-28.25,18.19952c-0.03395,0.03395 -0.23768,-0.03395 -0.27163,0c-2.95403,-7.19832 -4.61779,-15.10967 -4.61779,-23.36058c0,-8.2509 1.66376,-16.16226 4.61779,-23.36058zM113,99.41827c7.53786,0 13.58173,6.04387 13.58173,13.58173c0,7.53786 -6.04387,13.58173 -13.58173,13.58173c-7.53786,0 -13.58173,-6.04387 -13.58173,-13.58173c0,-7.53786 6.04387,-13.58173 13.58173,-13.58173zM94.25721,134.73077c2.68239,2.30889 5.84014,3.97265 9.23558,5.16106l1.90144,33.68269c0,0.06791 0,0.20373 0,0.27163c-16.94321,-2.10516 -31.54357,-11.17097 -41.28846,-24.17548zM131.47115,135.0024l30.15144,15.21154c-9.71093,12.66496 -24.14153,21.49309 -40.74519,23.63221c0,-0.0679 0,-0.20372 0,-0.27163l1.90144,-33.68269c3.19171,-1.15444 6.14573,-2.7503 8.69231,-4.88942z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg> {{model.wheel}}</span></p>
                        </li>
                    </ul>

                </div>


            </div>

        </div>

        <div class="col2">

            <div class="priceinfo">
                <p>$ {{model.price}}</p>
            </div>
            <p id=p1>Excluding taxes and order fee</p>


            <button id="l" type="submit" class="btn btn-outline-dark"> PLACE ORDER </button>


            <div class="highlights">

                <ul>
                    <li>
                        <p><span class="specs">{{model.time60}}</span><span class="spec2">
                                sec&emsp;&emsp;&emsp;</span>
                            <span class="specs">{{model.topspeed}}</span><span class="spec2">
                                mph&emsp;&emsp;&emsp;</span>
                            <span class="specs">{{model.range}}</span><span class="spec2"> mi</span></<span>
                        </p>
                    </li>
                    <li>
                        <p><span class="spec3">
                                &ensp;0-60 mph&emsp;&emsp;&emsp;</span>
                            <span class="spec3">
                                &emsp;&ensp;&ensp;Top Speed&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</span>
                            <span class="spec3"> Range</span></<span>
                        </p>
                    </li>
                    <li>
                        <p style="margin-top:15px"><span class="specs4">Warranty</span></p>
                        <p><span class="specs5">50,000 mi / 4 years</span></p>
                        <p style="margin-top:15px"><span class="specs4">Performance</span></p>
                        <p style="width: 440px;margin-top: 10px;"><span class="spec6">{{model.description}}</span></p>
                        <p style="margin-top:15px"><span class="specs4">Safety</span></p>
                        <p style="width: 440px;margin-top: 10px;"><span class="spec6">{{model.safety}}</span></p>
                        <p style="margin-top:15px"><span class="specs4">Range</span></p>
                        <p style="width: 440px;margin-top: 10px;"><span class="spec6">{{model.rangedesc}}</span></p>
                    </li>

                </ul>

            </div>


        </div>


    </div>



</body>

</html>